@font-face {
    font-family: Open-Sans;
    src: url("../fonts/Samo.ttf");
}
a{
    text-decoration: none;
    color: #FFF;
}
a:visited{
    color: #FFF;
}
a:active{
    color: #FFF;
}
.header-part{
    position: sticky;
    display: flex;
    background-color: #1D2124;
    background-size: cover;
    height: 70px;
    justify-content: space-between;
    top:0;
    z-index: 10;
}
.logo_and_text{
    display: flex;
    align-items: center;
}
.text-logo{
    color: white;
    display: flex;
    padding-left: 6px;
    font-size: 22px;
    font-family: Open-Sans;
}
.first-menu li{
    display: inline-block;
    text-transform: uppercase;
    padding-left: 37px;
    font-family: Open-Sans;
}
.menu-sections-container{
    background-color: #1D2124;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.navigation-parts-sections{
    display: flex;
    color: black;
}
.nav-part-sections-link{
    font-family: Open-Sans;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 15px;
}
.head-menu{
    display: flex;
    align-items: center;
}
.menu-sections-container{
    display: flex;
    align-items: center;
}
.main-logo, .container-for-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #1A1D20;
}
.latest-news{
    background-image: url("../img/header-bg.jpeg");
    background-attachment: fixed;
    background-position: 60% 110%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 387px;
}
.latest-news-text{
    color: #FFF;
    font-size: 27px;
    text-transform: uppercase;
    font-family: Open-Sans;
}
.buttons-container{
    display: flex;
    margin-top: 44px;
}
.gb{
    display: flex;
    justify-content: center;
    width: 170px;
    height: 55px;
    background-color: #89CA62;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    font-family: Open-Sans;
}
.bb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 170px;
    height: 55px;
    margin-left: 20px;
    background-color: #14B9D5;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    font-family: Open-Sans;
}
.container-top-posts{
    background-color: #F2F2F2;
    height: 1030px;
}
.posts-start-text{
    text-align: center;
    color: #18B4CF;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 60px;
    font-family: Open-Sans;
    font-size: 27px;
}
.top-posts-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.column1, .column2, .column3{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column2{
    margin: 0 30px 0 30px;
}
.post{
    margin-top: 32px;
}
.post-text-box{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-text{
    color: #353A3D;
    font-family: Open-Sans;
    font-size: 18px;
}
.clients-container{
    background-image: url("../img/clients-bg.jpeg");
    background-attachment: fixed;
    background-position: 0% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 588px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.cliets-main-grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
}
.clients-content-text{
    display: grid;
    text-transform: uppercase;
    font-family: Open-Sans;
    font-size: 32px;
    color: #FFF;
    justify-content: center;
    align-items: center;
}
.blue-line{
    margin: 80px auto 0 auto;
    width: 60px;
    height: 3px;
    background-color: #169CB4;
    border-radius: 10px;
}
.clients-logos{
    margin-top: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,auto);
    column-gap: 76px;
}
.first-client, .third-client{
    filter: brightness(100);
}
.horizontal-gallery-container{
    margin-top: 63px;
    background-color: #FFF;
    text-align: center;
}
.top-rated-text{
    color: #18B4CF;
    font-family: Open-Sans;
    font-size: 27px;
}

.img-rated-post1, .img-rated-post2, .img-rated-post3, .img-rated-post4, .img-rated-post5, .img-rated-post6, .img-rated-post7 {
    height: 271px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img-rated-post1{
    background-image: url("../img/latest-post-1.png");
}
.img-rated-post2{
    background-image: url("../img/latest-post-2.png");
}
.img-rated-post3{
    background-image: url("../img/latest-post-3.png");
}
.img-rated-post4{
    background-image: url("../img/latest-post-4.png");
}
.img-rated-post5{
    background-image: url("../img/latest-post-5.png");
}
.img-rated-post6{
    background-image: url("../img/latest-post-6.png");
}
.img-rated-post7{
    background-image: url("../img/latest-post-7.png");
}
.top-rated-text, .hot-news-text{
    margin-bottom: 53px;
    text-transform: uppercase;
    font-size: 27px;
    color: #18B4CF;
    font-family: Open-Sans;
}
.horizontal-gallery{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*align-items: center;*/
    /*justify-items: center;*/
}
.news-container{
    background-color: #FFF;
    margin-top: 60px;
    text-align: center;
}
.news-grid-first{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
    justify-items: center;
    column-gap: 35px;
}
.news-first-text, .news-fourth-text{
    width: 320px;
    color: #666E72;
    font-size: 14px;
    font-family: Open-Sans;
    background-color: #F9F7F7;
}
.news-first-tex-head-part, .news-fourth-text-head-part{
    text-align: center;
    margin-top: 41px;
    font-family: Open-Sans;
    font-size: 18px;
    color: #353A3D;
}
.news-first-tex-content-part, .news-fourth-text-content-part{
    text-align: center;
    margin-top: 22px;
    padding: 0 24px 0 24px;
    font-family: Open-Sans;
    font-size: 14px;
}
.left-wide-part, .right-wide-part{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.right-small-part, .left-small-part{
    display: grid;
    justify-items: center;
}
.nebula-hotel, .prizm-hotel{
    display: grid;
    background-color: #F9F7F7;
    justify-items: center;
    padding: 17px 45px 17px 45px;
    font-family: Open-Sans;
    font-size: 18px;
    color: #353A3D;
}
.news-second-third-grid{
    display: grid;
    margin-top: 42px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 32px;
    justify-items: center;
    align-items: center;
}
.news-second-text-content-part, .news-third-text-content-part, .news-second-text-head-part, .news-third-text-head-part{
    text-align: right;
}
.news-second-text-content-part, .news-third-text-content-part{
    font-family: Open-Sans;
    color: #5B6469;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 27px;
    padding-left: 22px;
    padding-bottom: 21px;
}
.news-second-text-head-part, .news-third-text-head-part{
    font-family: Open-Sans;
    color: #353A3D;
    font-size: 18px;
    padding-left: 22px;
    padding-right: 27px;
}
.news-second-grid-left-part-text, .news-second-grid-right-part-text, .news-third-grid-left-part-text, .news-third-grid-right-part-text{
    background-color: #F9F7F7;
    width: 554px;
}
.news-fourth-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
    justify-items: center;
    column-gap: 35px;
    margin-top: 43px;
}
.footer-container{
    margin-top: 71px;
}
.main-footer{
    display: grid;
    grid-template-columns: 550px 38px 64px;
    align-items: center;
    justify-items: center;
    height: 80px;
    background-color: #1D2124;
    background-size: cover;
}
.footer-text{
    margin-left: 10px;
    color: #FFF;
    font-size: 12px;
    font-family: Open-Sans;
}
.footer-logo-box, .footer-logo-text-box{
    margin-left: 1040px;
    display: flex;
}
.footer-logo-text-box{
    filter: brightness(100);
}
.for-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.hide-show{
    width: 150px;
    height: 60px;
    background-color: deeppink;
    border: 5px solid pink;
    color: white;
    border-radius: 5%;
    font-family: Open-Sans;
    cursor: pointer;
}

#button-up {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button-up::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button-up:hover {
    cursor: pointer;
    background-color: #333;
}
#button-up.show {
    opacity: 1;
    visibility: visible;
}
